---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="my-8 mx-8">
    <nav>
      <a href="#" class="text-md px-2">Home</a>
      <a href="#" class="text-md px-2">About</a>
      <a href="#" class="text-md px-2">Blog</a>
      <a href="#" class="text-md px-2">Projects</a>
      <a href="#" class="text-md px-2">Contact</a>
    </nav>
  </div>
  <div class="w-3/4 ml-20 mr-20">
    <h1 class="text-3xl">Geaux Astro Template</h1>
    <p class="text-md font-semibold mb-4 w-1/2">This is a slick Astro template that does lots of heady things. Try it out today!</p>
    <div>
      <a href="#" class="border-black w-fit border-2 border-solid px-4 py-2 bg-sky-400 hover:bg-sky-500 text-white font-semibold text-md rounded-lg">Click Me</a>
      <a href="#" class="border-black w-fit border-2 border-solid px-4 py-2 bg-sky-400 hover:bg-sky-500 text-white font-semibold text-md rounded-lg">Click Me</a>
    </div>
    
  </div>
  
</Layout>