<div class="my-8 mx-8">
    <nav>
      <a href="#" class="text-md px-2">Home</a>
      <a href="#" class="text-md px-2">About</a>
      <a href="#" class="text-md px-2">Blog</a>
      <a href="#" class="text-md px-2">Projects</a>
      <a href="#" class="text-md px-2">Contact</a>
    </nav>
  </div>